.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
/* navbar style */
header{
    max-width: 1600px;
    background-color: white;
    margin: 0 auto;
}
nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul a {
    text-decoration: none;
    color: black;
}
nav ul li {
    list-style: none;
}
.logo-btn{
    color: white;
    font-size: 16px;
    font-weight:500;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 6px;
    border: none;
    
}
/* bg-hero section style */
header .hero-section{
    
    background: url("../assets/hero-bg.png");
}
.hero-btn{
    color:#469165;
    font-size: 16px;
    font-weight:500;
    padding: 8px 12px;
    background-color:white;
    border-radius: 50px;
    border: none;
    margin-top: 113px;
    margin-bottom: 16px;
    
   
    
}
.narabo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-bottom:224px;
}
.hero-2nd-btn{
    color: white;
    font-size: 16px;
    font-weight:500;
    padding: 16px 16px;
    background-color: #469165;
    border-radius: 5px;
    border: none;
}
.hero-3rd-btn{
    color: white;
    font-size: 16px;
    font-weight:500;
    padding: 16px 16px;
    background-color: transparent;
    border-radius: 5px;
    border:1px solid white;
}
.hero-title{
    font-weight: 700;
    font-size: 72px;
    font-style:bold;
    color: white;
    max-width: 770px;
    margin-bottom: 16px;
   
}
.hero-ex{
    color: #469165;
}
.hero-describe{
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 32px;
   
}
/* note section style (main) */
.note-section{
    max-width: 1600px;
   
    margin: 0 auto;
    
}
.note-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px;
}
.note-title{
    color: black;
    font-size: 48px;
    font-weight: 700;
}
.note-describe{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.card-container{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 44px;
    margin-bottom:60px;
}
.card{
    max-width: 322px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 69px 24px;
    box-shadow: 0px 0px 8px 0 #00000013;

}
.card img {
    height: 32px;
    width: 32px;
    
}
.image-decoration{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px;

}

.card-title{
    font-weight: 600;
    font-size: 24px;
    color: black;
    margin: 16px;
    text-align: center;

}
.card-describe{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #627382;
}
/* brain section style */
.brain-section{
     max-width: 1600px;
    /* background-color: #F95555; */
    margin: 0 auto;
}
.brain-container{
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
    align-items: center;
    margin-bottom: 120px;
    
}
.brain-sub-title{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    text-transform:uppercase;
    margin-bottom: 16px;
}
.brain-title{
     font-size:48px;
    font-weight: bold;
    color: black;
    margin-bottom: 16px;
    
}
.brain-describe{
     font-size:16px;
    font-weight:normal;
    color: #627382;
    margin-bottom: 40px;
    
}
.frame{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
}
/* ready section style */
.ready-section{
    max-width: 1600px;
    margin: 0 auto;
   
}
.ready-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    padding: 80px;
    margin-bottom: 120px;
}
.ready-title{
    font-size: 40px;
    font-weight: bold;
    color: black;
    
}
.ready-sub-title{
    font-size: 16px;
    font-weight: normal;
    color: #627382;
    padding-top: 16px;
    padding-bottom: 24px;
}
.ready-describe{
    font-size: 16px;
    font-weight: normal;
    color: #627382;
    padding-top: 16px;
}
/* footer section style */
.footer-section{
    margin: 0 auto;
    max-width: 1600px;
    background-color: #001931 ;
    height: 200px;
}
.footer-container{
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    margin:0 auto;
    padding-top: 120px;
}
.social-custom{
    padding-right: 107px;
}
.social-title{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.logo-manage{
    display: flex;
    gap: 16px;
}