.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
/* navbar style */
header{
    max-width: 1600px;
    background-color: bisque;
    margin: 0 auto;
}
nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}
nav ul{
    display: flex;
    gap: 32px;
}
nav ul a {
    text-decoration: none;
    color: black;
}
nav ul li {
    list-style: none;
}
.logo-btn{
    color: white;
    font-size: 16px;
    font-weight:600;
    padding: 12px 16px;
    background-color: #469165;
    border-radius: 6px;
    border: none;
    
}
/* bg-hero section style */
header .hero-section{
    border: 1px solid black;
    background: url("../assets/hero-bg.png");
}
.hero-btn{
    color:#469165;
    font-size: 16px;
    font-weight:500;
    padding: 8px 12px;
    background-color:white;
    border-radius: 50px;
    border: none;
    margin-top: 113px;
    margin-bottom: 16px;
    
   
    
}
.narabo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 179px;
}
.hero-2nd-btn{
    color: white;
    font-size: 16px;
    font-weight:500;
    padding: 16px 16px;
    background-color: #469165;
    border-radius: 5px;
    border: none;
}
.hero-3rd-btn{
    color: white;
    font-size: 16px;
    font-weight:500;
    padding: 16px 16px;
    background-color: transparent;
    border-radius: 5px;
    border:1px solid white;
}
.hero-title{
    font-weight: 700;
    font-size: 72px;
    font-style:bold;
    color: white;
    max-width: 770px;
    margin-bottom: 16px;
   
}
.hero-ex{
    color: #469165;
}
.hero-describe{
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 32px;
   
}